.container {
  height: 62vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon {
  padding: 0.2em;
  width: min-content;
  height: 150px;
  background-color: white;
  fill: white;
  border-radius: 100%;
}
.container p {
  text-align: center;
  font-size: var(--fs-850);
  font-family: var(--ff-heading);
}
