* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: Barlow;
  --ff-reg: Bellefair;
  --dark-blue: #1c2653;
  --light-blue: #3e4f9a;
  --error-red: #ff0000;
  --bgr-clr: #0000004d;
  --blur: 15px;
  --white: #ffff;
  --gray: #767171;
  --purple: rgb(164, 62, 164);
  --dark-gray-transparent: #4a474761;
  --fs-200: 0.7rem;
  --fs-400: 0.85rem;
  --fs-600: 1rem;
  --fs-700: 1.2rem;
  --fs-800: 1.4rem;
  --fs-850: 2rem;
  --fs-900: 2.5rem;
  --fs-950: 3.5rem;
  --fs-max: 4.5rem;
  --fw: 100;
  --navbar-ts: #ffffff 0px 0px 20px;
  --btn-bgr: #23232362;
  --btn-bgr-act: #9f9d9db3;
  --border-rad: 20px;
  --main-padding-top: 8em;
}
/* ts=text shadow */
html {
  font-family: var(--ff-reg);
  color: var(--white);
}
.page {
  padding: 0 4em;
  padding-top: var(--main-padding-top);
  min-height: 100vh;
  background-size: cover;
  background-color: var(--bgr-clr);
  background-blend-mode: multiply;
}

.page-heading {
  margin-bottom: 0.5em;
  font-family: var(--ff-heading);
  font-weight: var(--fw);
  font-size: var(--fs-800);
  letter-spacing: 0.15em;
  color: var(--gray);
}
.page-heading span {
  color: var(--white);
}
.error-message {
  font-size: var(--fs-600);
  margin-top: 0.5em;
  background-color: var(--error-red);
  padding: 0.4em;
  border-radius: var(--border-rad);
  font-family: var(--ff-heading);
}
/* general media-queries: 820px (tablets) 600px(mobile) 420px(small mobile) */

@media (max-width: 820px) {
  .page {
    padding-right: 2em;
    padding-left: 2em;
  }
  .page-heading {
    font-size: var(--fs-700);
  }
}

@media (max-width: 600px) {
  .page {
    padding-left: 1em;
    padding-right: 1em;
  }
  .description {
    font-size: var(--fs-700);
  }
}

@font-face {
  font-family: Bellefair;
  src: url("../assets/fonts/Bellefair/Bellefair-Regular.ttf");
}

@font-face {
  font-family: Barlow;
  src: url("../assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf");
}
